html {
    font-family: Helvetica;
    background-color: lightblue;
}

h1 {
    color : rgb(1, 3, 99);
}

.title {
    text-align: center;
    margin-top: 150px;
}

.infoSection {
    padding: 25px;
    background-color: lightcyan;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    border: 3px solid black;
    border-radius: 15px;
    margin-bottom: 20px;
    margin-top: 50px;
}